*.o
*.a
*.lo
*.la
*~
*.cache
*.sublime-project
*.sublime-workspace
*.tar.gz
ABOUT-NLS
Make.common
Makefile
Makefile.in
aclocal.m4
config
config.h
config.h.in
config.log
config.status
gettext.m4
intl
pkginfo
prototype
stamp-h
stamp-h?
stamp-h.in
tmpout
debug
Doxyfile
TAGS
.deps
libtool
make.log
make.clang
make.gcc
make.tcc
